:root{
    --off-black: #000;
    --dark-accent: #203959;
    --primary-color: #416772;
    --text-color: #416772;
    --accent: #96ADA5;
    --strong: #E5A14E;
    --white-background: #D0D9D6;
    --off-white: #fff;
}

/*Global styling*/

*{
    margin: 0;
    font-family: "Inknut Antiqua", serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--white-background);
}

a{
    text-decoration: none;
    color: var(--off-black);
}

strong{
    color: var(--strong);
    font-weight: normal;
}

h1{
    font-size: 64px;
    width: 25vw;
    line-height: 6rem;
    color: var(--dark-accent);
    letter-spacing: 10%;
    font-weight: lighter;
}

h2{
    font-size: 48px;
    letter-spacing: 10%;
    color: var(--primary-color);
    font-weight: light;
}

h3{
    font-size: 20px;
    letter-spacing: 10%;
    color: var(--dark-accent);
    line-height: 2rem;
    font-weight: 900;
}

h4{
    font-size: 24px;
    letter-spacing: 10%;
    color: var(--off-white);
    font-weight: 200;
    line-height: 2.3rem;
}

h5{
    font-size: 16px;
    letter-spacing: 10%;
    color: var(--off-white);
    font-weight: 100;
    line-height: auto;
}

.btn-primary{
    width: 180px;
    height: 50px;
    border: 1px solid var(--off-black);
    border-radius: 25px;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: 0.7s ease;
    background: transparent;
}
.btn-primary:hover{
    background-color: var(--dark-accent);
    color: var(--off-white);
}

/*Secvential styling*/

header{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
    nav{
        margin: 0 auto;
        padding: 0;
        display: flex;
        position: sticky;
        top: 0;
        z-index: 1000;
        padding: 1vh 0;
    }
        .nav-wrap{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15vw;
        }
            .nav-links{
                display: flex;
                width: 800px;
                height: 80px;
                border: 1px solid var(--off-black);
                border-radius: 25px;
                justify-content: center;
                text-align: center;
                align-items: center;
                background-color: var(--accent);
                box-shadow: 0 2px 4px rgba(0,0,0,0.3);
            }
                .nav-links a h5{
                    color: var(--dark-accent);
                }
                .a-back{
                    display: flex;
                    background-color: transparent;
                    border-radius: 25px;
                    width: 200px;
                    height: 80px;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    transition: .5s ease;                    
                }
                .a-back:hover{
                    background-color: var(--dark-accent);
                    color: var(--off-white);
                    border: 1px solid var(--off-black);
                }
                .a-back:hover a h5{
                    color: var(--off-white);
                }
            .cta-nav{
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                gap: 1vw;
            }


.hero{
    background: url("/frontend/src/assets/images/back-hero.png") cover no-repeat;
}